body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  }

h3{
  font-size: 12px;
  line-height: 15px;
 }

/*HEADER*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
margin-bottom: 55px;
background-color: #000000;
}

.container {
width:950px;
margin: 0 auto;
padding: 0 10px; 
background-color: red;
}

.logo {
float: left;
width: 140px;
height: 28px;
margin-left: 10px;
margin-right: 20px;
}

.main-navigation {
float: left;
width: 640px;
padding-left: 10px;
padding-right: 10px;
margin-left: 10px;
margin-right: 50px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation a {
  padding: 26px 19px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.user-block{
float: right;
width: 140px;
margin-right: 130px;
}

/* MAIN INDEX */

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

/*MAIN ITEM*/


.title {
  width: 620px;
  min-height: 36px;
 }

.breadcrumps {
width: 630px;
min-height: 35px;
margin-bottom: 30px;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-right: 35px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.item-pics {
float: left;
width: 480px;
height: 710px;
margin: 40px 60px 30px 120px;
}

.picture-big {
  width: 490px;
  height: 525px;
}

.picture-small {
width: 160px;
height: 160px;
}

.product-descript {
float: right;
width: 400px;
margin-right: 120px;
margin-top: 30px;
background-color: yellow;
}

.article-item {
display: inline-block;
vertical-align: middle;
}

.description {
padding-top: 32px;
padding-bottom: 5px;  
}

.buy {
  display: inline-block;
  margin-top: 20px;
}

.item-content h2 {
  padding-top: 32px;
  padding-bottom: 5px;  
}


/* MAIN CATALOG */

.sidebar {
  float: left;
  width: 220px;
}

.filter {
  float: left;
  width: 220px;
}

.catalog-pagination {
  float: right;
  width: 700px;
  margin-right: 130px;
  padding-top: 7px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  min-height: 286px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  margin-top: 30px;
  min-width: 230px;
  height: 48px;
  clear: both;
}

.pagination li {
display: inline-block;
vertical-align: center;  
}

.pagination a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin-right: 5px;
  font-size: 13px;
}
/*FOOTER*/

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}